main {
  min-height: calc(100vh - 104px - 120px);
}

.buttons-table {
  width: 110px;
}

/* Truncate para descripcion de la tabla */
.td-descripcion {
  overflow: hidden;
  width: 300px; /*cambiando esto elegimos el ancho del texto */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1; /*cambiando este numero elegimos la cantidad de filas que queremos que muestre el texto*/
}

/* Truncate para descripcion de la las cards */
.card-descripcion {
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /*cambiando este numero elegimos la cantidad de filas que queremos que muestre el texto*/
}

/* Le agrego clases personalizadas a las imagenes de las cards */
.card-img-index {
  height: 30rem;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.card-img-index:hover {
  transform: scale(1.1);
}

/* Le agrego clases personalizadas a la portada de la pagina de detalle */
.portada-img {
  height: 30rem;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

/* Clases para dar tamaño a la imagen de la card de detalles */
.img-card-detalle {
  height: 40rem;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
